*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/developer.jpg);
    background-size: cover;
    background-position: center;
}

/*Navigation bar*/
a img {
    width: 80px;
    margin: 30px;
    border-radius: 27%;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar ul li::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;                     /* full width, but hidden by scale */
    height: 2px;
    background: rgb(255, 215, 0);
    transform: scaleX(0);            /* collapsed */
    transform-origin: center;        /* starts from the center */
    transition: transform 0.5s ease; /* smooth animation */
}

.navbar ul li:hover::after {
    transform: scaleX(1);            /* expands outward */
}

.navbar ul li a:hover {
  color: gold; 
}

/*Content*/
.content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10%;
}

#profile{
    flex: 0 0 25%;
    margin: 20px 40px 40px 40px;

}

#profile img{  
   width: 100%;
   height: 100%;
   border-radius: 100%;
}

.story{
    flex: 1;
    margin-left: 10px;
    padding-left: 4%;
}

.story h1{
    color: white;
    font-size: 30px;
    font-weight: bold;    
    font-family: 'Montserrat', sans-serif;
}

.story p{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}

